<div class="center">
    <h1>Welcome To Our Online Registration Form</h1>
    <p>{{moreInfo}}</p>
    <section>
        <img src='../../assets/imgs/investec-on-track-with-demerger.jpg' alt='image'>
    </section>

    <div class="container">
        <div class="row">
          <div class="col-sm-6">
           <button   type="button" class="btn btn-primary" (click)="register()">Register</button>
          </div>
          <div class="col-sm-6">
          <button  type="button" class="btn btn-primary" (click)="viewReport()">View Reports</button>
          </div> 
        </div>
      </div>
      
<app-login-model id="login"></app-login-model>
 
</div>